<html ng-app="speakup">
<head>
	<link href="assets/style.css" type="text/css" rel="stylesheet"/>
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<title> Haha</title>
	<link href="style.css" type="text/css" rel="stylesheet"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script type="text/javascript" src="jquery-3.1.0.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
</head>
<body ng-controller = "MainController">
	<div ng-view></div>
	<script src="js/routes.js"></script>

	<script src="js/app.js"></script>
	<div class="pagetitle">
		<p id="firsttitle"> Speak Up</p>
	</div>
	<section class="hero-wrap">
		<a href = "/vote"><button id="input_button" type="button" class="btn btn-primary btn-lg">Submit An Issue</button></a>
		<p id="know_more">Know More</p>
		<a href="#second" class="continue">
		</a>
	</section>
	<section id="second" class="secondpage">
		<p id="secondtitle">How it works</p>
		<div id="image_gap">
			<img id="second_image" src="images/chatting.png">
			<img id="arrow" src="images/right-arrow.png">
			<img id="second_image" src="images/vote.png">
			<img id="arrow" src="images/right-arrow.png">
			<img id="second_image" src="images/voice.png">
		</div>
		<p id="know_more2">Get Started</p>
		<a href="#third" class="continue">
		</a>
	</section>
	<section id="third" class="thirdpage">
		<p id="secondtitle">OUR ACCOMPLISHMENTS</p>
		<div id="image_gap">
			<img id="third_image" src="images/box1.jpg">
			<img id="third_image" src="images/box2.jpg">
			<img id="third_image" src="images/box3.jpg">
		</div>
		<div id="showmore_button">
		<a class="col-md-4" href = "/person"><button id="input_button" type="button" class="btn btn-primary btn-lg">See More</button></a>
		<a class="col-md-4" href = "#fourth"><button id="input_button" type="button" class="btn btn-primary btn-lg">See More</button></a>
		<a class="col-md-4" href = "#fourth"><button id="input_button" type="button" class="btn btn-primary btn-lg">See More</button></a>
		</div>
		<p id="know_more2">Get Started</p>
		<a href="/vote" class="continue">
		</a>
	</section>
</body>

</html>